body{
margin: 0;
padding: 0;
background-color: aqua;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}






#Fluzao_jpg{
    width: 240;
}

#navbar{
    background-color: red;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 #noticias{
   display: flex;
   text-align: center;
   justify-content: space-around;
   padding: 6px;
 }

 .noticia{
    background-color: bisque;
    color: white;
    border: 4px solid black;
 }
 .img_noticias{
    width: 400px;
 }